body{
    margin: 0;
    font-family:sans-serif;
}
.parent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right,orange,rgb(174, 38, 228),rgb(38, 85, 173));
    padding-bottom: 20px;
}
.child{
    width: 400px;
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(45, 51, 54);
    color: white;
    border-radius: 5px;
    overflow: hidden;
}
h1{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right,orange,rgb(174, 38, 228),rgb(38, 85, 173));
    color: transparent;
    background-clip: text;
}
p{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: rgb(158, 151, 151);
}
.input{
    display: flex;
    align-items: center;
}
input{
    width: 70%;
    padding: 9px;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    border: 1px solid rgba(238, 230, 230, 0.158);
    color: white;
}
#button{
    margin-left: 5px;
    width: 30%;
    box-sizing: border-box;
    padding: 4px;
    background: linear-gradient(to right,pink,blue);
    border: 1px solid rgb(78, 68, 68);
    border-radius: 5px;
    color: white;
}
.check{
    margin-top: 10px;
    width: 100%;
    border: 1px solid rgba(128, 121, 121, 0.13);
    padding: 5px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: rgba(53, 77, 99, 0.253);
    border-radius: 5px;
}
#task{
    width: 23px;
}
#pending{
    width: 20px;
}
#complete{
    width: 18px;
}
.checking{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid; */
    padding: 7px;
    margin-top: 10px;
    font-size: 12px;
    background-color: rgba(53, 77, 99, 0.253);
    border-radius: 5px;
    color: rgb(158, 151, 151);;
}
.add{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#overallall,#overallactive,#overallcomplete{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
